<h2>Admin</h2>
<div class="row">
    <form action="@Url.Action("action", "admin")" method="post">
        <div>
            <button name="action" value="resetdb" class="btn btn-primary">Reset DB</button>
        </div>
    </form>
</div>
